*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Hier können Stiele für die ganze Webseite angegeben werden. */
body {
    margin: 0;
}

/* Hier werden 2 Elemente nebeneinander gepackt.
   Mit `display: flex;` können wir angeben in welche Richtung alle Kinder von
   einem Element ausgerichtet werden. Wählen wir `flex-direction: row`, dann
   werden Sie alle mit gleich viel Platz in einer Reihe nebeneinander platziert.
   Mit `flex-direction: column` werden Sie untereinander platziert. Das reicht
   um die meisten Elemente gut zu platzieren.
*/
.text-and-img {
    display: flex; /* Richtet die Elemnte in einer Zeile oder Reihe aus. */
    flex-direction: row; /* In einer Reihe ausgerichtet. */
    gap: 1rem; /* Abstand zwischen den Elementen.*/
    align-items: center; /* Ausrichtung in der Mitte entlang der anderen Achse. */
    justify-content: center; /* Ausrichtung in der Mitte entlang der Hauptachse */
    margin: 1rem; /* Abstand auf allem Seiten. */
}

/* Diese Regel beschreibt wie Bilder in diesem Container dargestellt werden. */
.text-and-img img {
    border-radius: 2rem; /* Damit können die Ecken abgerundet werden. */
    width: 100%; /* Braucht es damit das Bild im Container bleibt und nicht viel zu gross ist. */
}

.my-title {
    color: rgb(76, 76, 118);
    text-align: center;
    font-size: 24pt;
}
.Text-Volleyball {
    text-align: center;
    font-style: normal;
}
.musik-hören {
    text-align: center;
    font-size: xx-large;
    color: rgb(76, 76, 118);
}
.my-music {
    text-align: center;
}
.über-mich {
    font-size: 24pt;
    text-align: justify;
    color: rgb(76, 76, 118);
}
.web-leona {
    font-size: 30pt;
    text-align: center;
    color: rgb(11, 14, 85);
    background-color: rgba(13, 24, 81, 0.354);
    border: 5px double rgb(76, 76, 118);
    margin: 50px;
    padding: 2rem;
}
.text-mich {
    text-align: justify;
}
.le-sen {
    font-size: 24pt;
    text-align: center;
    color: rgb(76, 76, 118);
}
.meine-hobbies {
    text-align: center;
    border: 5px dotted rgb(255, 255, 255);
    border-radius: 4rem;
    margin: 50px;
    padding: 2rem;
    background-color: rgba(76, 76, 118, 0.635);
}
